<div class="span3 bs-docs-sidebar">
  <ul class="nav nav-list bs-docs-sidenav affix">
    <li<%= raw(' class="active"') if controller.controller_name == 'appointments' %>><a href="/appointments"><i class="icon-chevron-right"></i> Appointments</a></li>
    <li<%= raw(' class="active"') if controller.controller_name == 'customers' %>><a href="/customers"><i class="icon-chevron-right"></i> Customers</a></li>
    <li<%= raw(' class="active"') if controller.controller_name == 'providers' %>><a href="/providers"><i class="icon-chevron-right"></i> Providers</a></li>
  </ul>
</div>
